* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  text-align: center;
  background: linear-gradient(
    110deg,
    rgba(28, 90, 212, 1) 0%,
    rgba(50, 99, 210, 1) 18%,
    rgba(42, 130, 176, 1) 38%,
    rgba(37, 123, 179, 1) 64%,
    rgba(0, 212, 255, 1) 100%
  );
}
header {
  background-color: aqua;
  margin-bottom: 10px;
}
section {
  background-color: rgb(202, 248, 248);
  margin-bottom: 10px;
  font-size: 40px;
  font-weight: 900;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
#increament-btn {
  background-color: rgb(95, 0, 0);
  color: gray;
  padding: 10px 40px 10px 40px;
  border-radius: 10px;
  box-shadow: 1px 1px 22px 0px black;
}
#save-btn {
  background-color: greenyellow;
  margin-top: 10px;
  padding: 10px 40px 10px 40px;
  font-weight: 900;
  border-radius: 10px;
  color: rgb(49, 49, 49);
  font-size: large;
}
footer p {
  color: aquamarine;
  margin-top: 10px;
}
